	JUMP main
main:
	START
	PUSHN 7
	PUSHI 0
	STOREG 6
	PUSHS "Introduza 5 números inteiros:"
	WRITES
	WRITELN
	PUSHI 1
	STOREG 5
label1:
	PUSHG 5
	PUSHI 5
	INFEQ
	JZ label2
	READ
	ATOI
	STOREG 7
	PUSHGP
	PUSHI 0
	PADD
	PUSHG 5
	PUSHI 1
	SUB
	PUSHG 7
	STOREN
	PUSHG 6
	PUSHGP
	PUSHI 0
	PADD
	PUSHG 5
	PUSHI 1
	SUB
	LOADN
	ADD
	STOREG 6
	PUSHG 5
	PUSHI 1
	ADD
	STOREG 5
	JUMP label1
label2:
	PUSHS "A soma dos números é: "
	WRITES
	PUSHG 6
	WRITEI
	WRITELN
	STOP
